body
{
	margin: 0px;
background: #ded7d7;
}
.container
{
	width:1366px;
	margin:0 auto;
}
.menu nav
{
	background: #fff;
	height: 50px;
}
.menu nav ul
{
	padding:0px;
	margin:0px;
}
.menu nav ul li 
{
	float:left;
	display:inline-block;
	padding:10px 10px;
}
.menu nav ul li a
{
	text-decoration:none;
	color:#000;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
}